<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>SmartBuy Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
  integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="app/css/font-awesome.min.css">
  <link rel="stylesheet" href="app/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>

</head>

<body data-ng-app="smartBuy">
  <div class="wrapper" data-ng-controller="chatctrl">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mb-0" href="#">SmartBuy-BOT</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Inventory <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <span class="navbar-text">
          <img src="http://via.placeholder.com/350x350" alt="" class="img-fluid rounded-circle" style="width:20px;">
          Miracle Systems
        </span>
      </div>
    </nav>

    <div class="container" id="innerContainer">
      <div class="mega text-center">
        <h2>Hey there!</h2>
        <h4>Welcome to the SmartBuy bot! Feel free to have a little talk!</h4>
      </div>
    </div>

    <div class="chatBot">
      <div class="chatBotHead">
        <strong data-ng-click="chatOpen()">Chat with SmartBuy</strong>
        <span class="fa fa-fw fa-close text-right" data-ng-click=chatCollapse() ng-show=!chatCollapsed></span>
      </div>
      <div class="chatBoxWrapper" ng-class="{'active':willDisplay}">
        <div id="chat" class="chat_box" scroll-glue>
          <div data-ng-repeat="chat in chattingMessages">
            <div>
              <span class={{chat.class}}>{{chat.message}}</span>
            </div>
          </div>
        </div>

        <div style="margin-top: 15px">
          <div class="input-group" scroll-glue>
            <input type="text" class="form-control" placeholder="Message" id="theInput"
            data-ng-model="chatMessage" data-ng-keypress="($event.which === 13)?sendMessage():0">
            <span class="input-group-btn" style="border-radius:0px;">
              <button style="border-radius:0px;" class="btn btn-success" id="getButton" data-ng-click="sendMessage()" type="button">Send</button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
<script src="app/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>

</body>
</html>
