body, html{
  height: 100%;
  background-image: url(https://unsplash.it/1000/1000?image=0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
}
.chatBotHead{
  padding: 15px;
  background-color: #FFE066;

}
.chatBotHead > *{
  cursor: pointer;
}
.bot {
    background-color: #F6CA83;
    border: .1px solid #F6CA83;
    color: #333;
    display: block;
    border-radius: 2px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    padding: 4px;
    clear: both;
    position: relative;
}

.user {
    background-color: #D0D38F;
    border: .1px solid #D0D38F;
    color: #333;
    /*float: right;*/
    right: 2px;
    display: block;
    border-radius: 5px;
    clear: both;
    padding: 4px;
    margin: 5px;
    float: right;
    display: block;
    position: relative;
}

.chat_box {
  padding: 5px 5px;
    /*border: 1px solid #ddd;*/
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden
}
.chatBot{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 22rem;
  /*padding: 10px;*/
  /*border-radius: 10px 0px 0px 0px;*/
  background-color: #fff;
}

/*Page styles */
.border{
  border: 1px solid red;
}
.mega{
  margin-top:300px;
  color: #fff;
  /*background-color: rgba(0,0,0,0.7);*/
}
.chatBoxWrapper{}
.chatBoxWrapper.active {
  height: 200px;
  opacity: 1;
}

/* animations */
.searchclass {
  border: 1px solid red;
  margin: 0 !important;
  position: relative;
  top: 44px;
  z-index: 9999;
  -webkit-transition: height .3s ease-in-out;
  transition: all .3s ease-in-out;
  height: 0;
  opacity: 0;
}
.searchclass.active {
  height: 49px;
  opacity: 1;
}
